<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <div class="category-container">
        <div class="row justify-content-center">
          <select class="form-control col-4">
            <option>Select a category</option>
            <option>家居物業</option>
            <option>交通出行</option>
            <option>休閒娛樂</option>
            <option>餐飲食品</option>
            <option>其他</option>
          </select>
        </div>
      </div>
      <div class="body-container mt-3">
        <div class="row justify-content-center">
          <div class="col-2">
            <h3 class="">總金額:</h3>
          </div>
          <div class="col-2">
            <h3>12000</h3>
          </div>
        </div>
        <div class="row justify-content-around">
          <ul class="col-4 mt-3" style="list-style: none;">
            {{#each records}}
            <li>
              {{#ifEquals this.category '家居物業'}}<span class="fas fa-home" style="color:deepskyblue"></span>{{/ifEquals}}
              {{#ifEquals this.category '交通出行'}}<span class="fas fa-shuttle-van"
                style="color:deepskyblue"></span>{{/ifEquals}}
              {{#ifEquals this.category '休閒娛樂'}}<span class="fas fa-grin-beam"
                style="color:deepskyblue"></span>{{/ifEquals}}
              {{#ifEquals this.category '餐飲食品'}}<span class="fas fa-utensils"
                style="color:deepskyblue"></span>{{/ifEquals}}
              {{#ifEquals this.category '其他'}}<span class="fas fa-pen" style="color:deepskyblue"></span>{{/ifEquals}}
              {{this.name}}
              {{this.date}}
              {{this.amount}}
            </li>
            {{/each}}
          </ul>
        </div>
        <div class="row justify-content-center">
          <a class="btn btn-primary mt-3" href="./records/new">Create</a>
        </div>
      </div>
    </div>
  </div>
</div>