<div class="container mt-5">
  <div class="card" style="width: 40rem">
    <div class="card-body">
      <div class="category-container">
        <div class="row justify-content-center">
          <select class="form-control col-4">
            <option>Select a category</option>
            <option>家居物業</option>
            <option>交通出行</option>
            <option>休閒娛樂</option>
            <option>餐飲食品</option>
            <option>其他</option>
          </select>
        </div>
      </div>
      <div class="body-container mt-3">
        <div class="row justify-content-center">
          <div>
            <h3 class="">總金額:</h3>
          </div>
          <div>
            <h3>12000</h3>
          </div>
        </div>
        <table class="table table-striped">
          <tbody>
            {{#each records}}
            <tr>
              <td>
                {{#ifEquals this.category 'household'}}<span class="fas fa-home"
                  style="color:deepskyblue"></span>{{/ifEquals}}
                {{#ifEquals this.category 'transportation'}}<span class="fas fa-shuttle-van"
                  style="color:deepskyblue"></span>{{/ifEquals}}
                {{#ifEquals this.category 'entertainment'}}<span class="fas fa-grin-beam"
                  style="color:deepskyblue"></span>{{/ifEquals}}
                {{#ifEquals this.category 'food'}}<span class="fas fa-utensils"
                  style="color:deepskyblue"></span>{{/ifEquals}}
                {{#ifEquals this.category 'others'}}<span class="fas fa-pen"
                  style="color:deepskyblue"></span>{{/ifEquals}}
              </td>
              <td>{{this.name}}</td>
              <td>{{this.date}}</td>
              <td>${{this.amount}}</td>
              <td align="right">
                <a href="./records/{{this._id}}/edit" class="btn btn-info">edit</a>
                <a class="btn btn-danger">delete</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>

        <div class=" row justify-content-center">
          <a class="btn btn-primary mt-3" href="./records/new">Create</a>
        </div>
      </div>
    </div>
  </div>
</div>